<httpServerConfig>
    <maxClients>1000</maxClients>
    <rootFolder>./data</rootFolder>
    <logLevel>info</logLevel>                              <!-- values: debug, info, warning, error -->
    <logType>stdout</logType>                              <!-- values: stdout, mmap -->
    <logArchiveCount>20</logArchiveCount>
    <threadCount>2</threadCount>
    <executorTimeoutMillis>10000</executorTimeoutMillis>   <!-- after this time inactive connection will be closed -->
    <httpPorts>
        <port>8000</port>
    </httpPorts>
    <httpsPorts>
        <port>1443</port>
    </httpsPorts>
    <uwsgiApplications>
        <application>
            <prefix>app</prefix>                  <!-- prefix of application url. for example:   url: /app/page   prefix: app -->
            <port>7070</port>                     <!-- port of running uwsgi server -->
            <connectionType clear="0" ssl="1"/>   <!-- Enable this application only for specified connection types.
                                                       If no connectionType element - all connection types are enabled.
                                                       If some attribute is not specified, it defaults to zero, connection type is disabled. -->
        </application>
    </uwsgiApplications>
</httpServerConfig>

